<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gtl.mappers.boardNoticeMapper">
	
	<select id="getBoardNotice" resultType="com.gtl.message.domain.GtlNoticeDto">
		select * from gtl_board_notice order by board_notice_no desc
	</select>
	
	<insert id="writeNotice" parameterType="com.gtl.message.domain.GtlNoticeDto">
		insert into gtl_board_notice(sawon_id, board_notice_title, board_notice_note) values(#{sawon_id}, #{board_notice_title}, #{board_notice_note})
	</insert>
	
	<select id="readNotice" parameterType="int" resultType="com.gtl.message.domain.GtlNoticeDto">
		select * from gtl_board_notice where board_notice_no=#{notice_no}
	</select>
	
	<update id="updateNotice" parameterType="com.gtl.message.domain.GtlNoticeDto">
		update gtl_board_notice set board_notice_title=#{board_notice_title}, board_notice_note=#{board_notice_note} where board_notice_no=#{notice_no}
	</update>
	
	<update id="updateCounter" parameterType="com.gtl.message.domain.GtlNoticeDto">
		update gtl_board_notice set board_notice_counter=#{board_notice_counter} + 1 where board_notice_no=#{board_notice_no}
	</update>
	
</mapper>